.home-conatiner {
    display: flex;
    .all-movies {
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 2px solid wheat;
        // padding: 20px 40px;
        font-family: 'Roboto', sans-serif;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            h4{
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid wheat;
                padding-left: 10px;
            }
            .view-all {
                color: brown;
                cursor: pointer;
            }
        }
        .movies-thumbnail {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .movie {
                .cover {
                    padding: 5px;
                    img {
                        border-radius: 5px;
                    }
                }
                .detail {
                    width: 180px;
                    .name {
                        font-weight: bold;
                        height: 50px;
                        margin-top: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .popular-movies {
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: 'Roboto', sans-serif;
        h4{
            text-transform: uppercase;
            font-weight: bold;
            border-left: 5px solid wheat;
            padding-left: 10px;
        }
        .movies {
            .movie {
                margin-bottom: 2px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .name {
                    font-weight: bold;
                    cursor: pointer;
                }
                .view-all {
                    color: wheat;
                    text-align: right;
                    margin-top: 30px;
                }
            }
        }
    }
}

.rating{
    padding-right: 45px;
    position: relative;
    .rating-value {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
    }
}